//SIGN UP PAGE
//MAIN
.accountInfo {
    margin: 2rem 0 3rem 0;
}

.accountInfo__title,
.accountInfo__subtitle {
    color: $dark-color-navbar;
    font-weight: 400;
    margin-bottom: $size;
}

.accountInfo__login {
    margin-bottom: $size * 2.5;

    > a {
        text-decoration: none;
    }
}

.accountInfo__extraInfo {
    font-weight: 500;
}

.accountInfo__inputLabel {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0;

    > label {
        font-size: $size * 1.25;
    }

    > input,
    > select {
        width: 30%;
        padding: 0.5rem 0.3rem;
        border: 1px solid gray;
        border-radius: 5px;
    }

    > input:focus,
    > select:focus {
        border: 2px solid $dark-color-navbar;
    }
}

.accountInfo__checkbox {
    margin: 1.3rem 0;
    width: 30%;
}

//MEDIA QUERYS SIGN UP
@media (max-width: 991px) {
    //SIGN UP
    .accountInfo__inputLabel {
        > input,
        > select {
            width: 60%;
        }
    }

    .accountInfo__checkbox {
        width: 60%;
    }
}

@media (max-width: 767px) {
    //SIGN UP
    .accountInfo__grid {
        display: none;
    }

    .accountInfo__login {
        margin-bottom: $size * 1.5;
    }

    .accountInfo__inputLabel {
        > input,
        > select {
            width: 70%;
        }
    }

    .accountInfo__checkbox {
        width: 70%;
    }
}

@media (max-width: 540px) {
    //SIGN UP
    .accountInfo__inputLabel {
        > input,
        > select {
            width: 90%;
        }
    }

    .accountInfo__checkbox {
        width: 90%;
    }

    .accountInfo__button{
        display: flex;
        justify-content: center;
    }
}