/*
//SIGN IN PAGE
//MAIN
.text-center > h3 {
    margin: 1rem 0;
    color: $dark-color-navbar;
}

.travelCardMid__info--input {
    width: 92% !important;
}

.travelCard__info--check {
    margin: 1rem 2rem 1rem 0.7rem;

    > input {
        margin-right: $size * 0.6;
    }
}

.travelCard__button {
    display: map-get($modelado, flexible);
    justify-content: map-get($modelado, centro);
}

.createAccount {
    text-align: end;
    padding: 2rem 0 0 0;
    margin-right: $size;

    > p {
        margin: 0;
    }

    > a {
        text-decoration: map-get($modelado, ninguno);
    }
}

//FOOTER
.travelFooter--signin {
    display: map-get($modelado, ninguno);
}


//MEDIAS QUERYS SIGNIN
@media (max-width: 330px) {
    //SIGN IN
    .travelCardMid__info--input {
        > label {
            font-size: 20px;
        }
    }
}
*/