/*
//TRIPS PAGE
//MAIN
.containerCard__title {
    margin: 2rem 0;
    @include fontStyle($size * 3, 300);
}

.cardHeader--title {
    background-color: $dark-color-navbar;

    > h2 {
        color: #fff;
    }
}

.cardBody {
    padding: 0.6rem 0;
}
.card-body > p {
    color: $light-color-textCard;
}

.cardBody__top {
    display: map-get($modelado, flexible);

    > div:first-child {
        margin-right: $size * 2;
    }    
}

.travelCard__midInfo {
    padding: 1.4rem 0rem;
}

.travelCardMid_info--input {
    width: 40% !important;
}

//FAQs SECTION
.containerAccordion {
    width: 100%;
}

.accordionGroup {
    width: 82.5%;
    margin: 0rem auto 3rem;
}

.accordionGroup__item {
    padding: 0rem 1rem 0rem 1rem;
}

.accordionItem__link {
    @include fontStyle($size * 1.2, bold);
    color: $dark-color-navbar;
    text-decoration: map-get($modelado, ninguno);
    width: 100%;
    @include flexStyle(space-between);
    border-top: 1px solid $dark-color-navbar;
    padding: 0.5rem 0rem 0rem 0rem;

    i {
        padding: .5rem;
        font-size: $size * 2;
    }

    .fa-angle-up {
        display: map-get($modelado, ninguno);
    }

    &:hover {
        color: $dark-color-navbar;
    }
}

.accordionItem__anwser {
    max-height: 0;
    overflow: hidden;
    position: relative;
    margin-bottom: 1rem;
    transition: max-height 650ms;

    &::before {
        content: "";
        position: absolute;
        width: .3rem;
        height: 90%;
        background-color: $dark-color-navbar;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }

    p {
        font-size: $size;
        padding: 0rem 1rem;
        margin-bottom: 0;
        a {
            text-decoration: map-get($modelado, ninguno);
        }
    }
}

.accordionGroup__item:target {
    .accordionItem__anwser {
        max-height: $size * 35;
    }

    .accordionItem__link {
        .fa-angle-down {
            display: map-get($modelado, ninguno);
        }

        .fa-angle-up {
            display: map-get($modelado, bloque);
        }        
    }
}


//MEDIAS QUERYS TRIPS
@media (max-width: 767px) {
    //MY TRIPS PAGE
    //MAIN
    .travelCardMid_info--input {
        width: 60% !important;
    }

    //SIGN UP
    .accountInfo__grid {
        display: map-get($modelado, ninguno);
    }

    .accountInfo__login {
        margin-bottom: $size * 1.5;
    }

    .accountInfo__inputLabel {
        > input,
        > select {
            width: 70%;
        }
    }

    .accountInfo__checkbox {
        width: 70%;
    }
}


@media (max-width: 480px) {
    //MY TRIPS PAGE
    .travelCardMid_info--input {
        width: 100% !important;
    }
}


@media (max-width: 330px) {
    //TRIPS
    .cardBody__top {
        flex-direction: column;
    }

    .travelCardMid_info--input {
        label {
            font-size: 20px;
        }
    }
}
*/