//VARIABLES
$light-color-input: #3498db;
$dark-color-navbar: #024;
$light-color-textCard: #7f8c8d;
$light-color-footer: #d4d4d0;
$size: 1rem;

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}