/*SECTION TITLE*/
.sectionDeals__title {
    background: url('../../img/img-pack/nepal.jpg') no-repeat center center;
    background-size: cover;
    border-radius: 0px 0px 15px 15px;
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
}

.sectionDeals__title > h1 {
    color: #fff;
    margin-left: 1.5rem;
}

/*MAIN*/
.popularPlaces {
    margin: 2rem;
}
.popularPlaces__subtitle {
    font-size: 2rem;
    padding-bottom: 1.5rem;
    color: var(--dark-color-navbar);
}

.popularPlaces__card {
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
}

.popularPlaces__card:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}

.cardImage--city {
    height: 210px;
}

.card-body > h4 {
    color: var(--dark-color-navbar);
}

.card-body > i {
    font-size: 2.5rem;
    color: var(--dark-color-navbar);
    display: flex;
    justify-content: flex-end;
}

.popularPlaces__button {
    padding: 1rem 2rem;
    margin: 3rem 0 2rem 0;
}

/*SECTION INFORMATION*/
.sectionPreparations {
    margin-bottom: 3rem;
}

.sectionInfo {
    padding: 3.5rem 1.5rem;
    background-color: var(--dark-color-navbar);
}

.sectionInfo__subtitle {
    font-weight: 400;
}

.sectionInfo__info {
    margin-top: 0.8rem;
}

.sectionInfo__image {
    height: 130px;
}

.sectionInfo__card {
    cursor: default;
    transition: all 400ms ease;
}

.sectionInfo__card:hover {
    transform: translateY(-3%);
}

.card-body > a {
    text-decoration: none;
}