/*MAIN*/
.accountInfo {
    margin: 2rem 0 3rem 0;
}

.accountInfo__title, .accountInfo__subtitle {
    color: var(--dark-color-navbar);
    font-weight: 400;
    margin-bottom: 1rem;
}

.accountInfo__login {
    margin-bottom: 2.5rem;
}

.accountInfo__extraInfo {
    font-weight: 500;
}

.accountInfo__login > a {
    text-decoration: none;
}

.accountInfo__inputLabel {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0;
}

.accountInfo__inputLabel > label {
    font-size: 1.25rem;
}

.accountInfo__inputLabel > input, .accountInfo__inputLabel > select {
    width: 30%;
    padding: 0.5rem 0.3rem;
    border: 1px solid gray;
    border-radius: 5px;
}

.accountInfo__inputLabel > input:focus, .accountInfo__inputLabel > select:focus {
    border: 2px solid var(--dark-color-navbar);
}

.accountInfo__checkbox {
    margin: 1.3rem 0;
    width: 30%;
}