:root {
    --light-color-input: #3498db;
    --dark-color-navbar: #024;
    --light-color-textCard: #7f8c8d;
    --light-color-footer: #d4d4d0;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}



/*NAVBAR*/
.travelHeader {
    width: 100%;
    background-color: var(--dark-color-navbar);
}

.travelHeader__navBar {
    margin: auto;
    width: 95%;
    padding: 1rem 0rem;
}

.headerNavBar__design {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerNavBar__desig a {
    text-decoration: none;
    width: 100%;
}

.headerNavBar__logo,
.travelFooter__logo {
    width: 160px;
}

.headHeader__search {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 0.2rem 0.4rem;
    border-radius: 15px;
}

.headHeader__search i {
    color: var(--light-color-textCard);
    margin-right: 0.4rem;
    margin-left: 0.2rem;
}

.headerSearch__input {
    border: none;
    color: var(--light-color-textCard);
    width: 500px;
    padding: 0.3rem 0;
}

.navBar__linksMenu ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navBar__linksMenu li {
    list-style: none;
}

.navBar__linksMenu li a {
    text-decoration: none;
    color: #fff;
    padding: 1rem;
    transition: 0.3 ease-in-out;
}

.navBar__linksMenu li a:hover {
    border-radius: 25px;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.2);
}

.linksMenu__burgerMenu {
    display: none;
}

.linksMenu__burgerMenu {
    font-size: 3rem;
    color: white;
    cursor: pointer;
}

#burgerMenu__checkBtn {
    display: none;
}


/*MAIN*/
.travelMain {
    margin: auto;
    padding: 3rem 0;
}

.travelMain__title--mainTitle {
    color: #fff;
    font-size: 2.9rem;
}

/*CARD*/
.travelCard_top {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 1.2rem 0.8rem;
}

.travelCard_mid {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.4rem 1rem;
}

.travelCardMid_info {
    height: 46px;
    width: 100%;
    position: relative;
}

.icon {
    margin: 0 1rem;
}

.travelCardMid_info input,
.travelCardMid_info select {
    height: 100%;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--dark-color-navbar);
    font-size: 24px;
    color: var(--dark-color-navbar);
}

.travelCardMid_info input:hover,
.travelCardMid_info select:hover,
.travelCardMid_info input:focus,
.travelCardMid_info select:focus {
    color: var(--light-color-input);
}


.travelCardMid_info input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.travelCardMid_info label {
    position: absolute;
    left: 0px;
    bottom: 10px;
    color: #596275;
    pointer-events: none;
    font-size: 24px;
    transition: all 0.3s ease;
}

.travelCardMid_info input:hover ~ label,
.travelCardMid_info input:focus ~ label,
.travelCardMid_info input:valid ~ label  {
    transform: translateY(-30px);
    color: var(--light-color-input);
    font-size: 15px;
}

.travelCardMid_info input:valid ~ label  {
    transform: translateY(-30px);
    color: var(--dark-color-navbar);
    font-size: 15px;
}

.travelCardMid_info input:hover ~ label,
.travelCardMid_info input:focus ~ label {
    transform: translateY(-30px);
    color: var(--light-color-input);
    font-size: 15px;
}

.travelCardMid_info .underline {
    position: absolute;
    bottom: 0px;
    height: 2px;
    width: 100%;
}

.travelCardMid_info .underline::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: var(--light-color-input);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.travelCardMid_info input:hover ~ .underline::before,
.travelCardMid_info input:focus ~ .underline::before,
.travelCardMid_info select:hover ~ .underline::before,
.travelCardMid_info select:focus ~ .underline::before {
    transform: scaleX(1);
}

.revers-icon {
    font-size: 1.4rem;
}

/*SLIDER*/
.img_slider {
    width: 100%;
    animation: animate 16s ease-in-out infinite;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@keyframes animate {
    0%, 100% {
        background-image: url(../img/back-photos/photo1.jpg);
        /* background-image: url(https://lh3.googleusercontent.com/pvMzSSSviIiZy2rCjNFN9V5AJtXLxv47HKED4EuGn9nw_KuBQFtCnhF-ioPV_6NI4HW_8WOhCszQ7bVKsjrWTuayAuThoRqpA-mg5WtC3-JZTTH1x0M-asF5E3wt6x7dhr-y52GElcee5J6GC4yM8K0RWSCWiuTpmc1Ga2bjNm5HPndEE88ooR5FCGEKngMJFCRygna3TszqcS_XMgcegRexDeYjQQVOuGu7f-mffmzqqkorHBZl01MWfXLbcUoYaZvLBC2AaEJQaiUTVcfQuDD_wnCjhnz-6OrrqyFtpcVtVUOg88WfyRvXnDSt6EPVn1M9cYubo7I7iQ-8nHg5s9MBLwaECC_vl3qnHJunEXX-IF7Gm6uSNiIiFcA6S482DTTCHV8NFFPHaWoOhfj-HSpmDUKADpilKKrBT17Ns7wHZcvX7ReS8jRMVeVhUF9fFaYTXNtfNGFdlsqlHKBpEmjQ7Htn_g8LVMmWWAGj3YLcTtsA1s0kBGMBDLLmick1dZB4aUNXK569xc6BVOrq08ARKzS_nl6BdEqI2ZDp4_8KcSsTXK3KTp_ZacqmSZDyfl_zecqjOtCfmMq4yUvpstNZBM0Bj9IvlSDUue1zZRMvUCJzmAT6ssUGeQWLuti47ojgxpiJN2LC0hLifLkTTRpxmDkpnnJzhAwG6E_BXhm_8kSHqWIg8C5UtgkK0NTOrcAvUo09vkcJadt0aRoFki8=w407-h271-no?authuser=0); */
    }

    25% {
        background-image: url(../img/back-photos/photo3.jpg);
        /* background-image: url(https://lh3.googleusercontent.com/EOZN0ufYtA52Nc7E59q9sQpzXpzRVrZAGHecm2TbwP_NQukZCflPgQMcUyRRLUs0tvqOs3HpdBmB7oLrMo_0bh8TA5FAvdW_oZ8JJLY4a5c1dSYW04PXsUMAEeXLM60HBsiR7N2XKsi2p6UbF6J1SkNkPS39oYUbyOrIfeyleb1kK-UFRSNdz6Jjm-gPR3ohD1MR579h4hFL8LReNq8-ieM5W2pAw-MD5-G78wNxf6dFzNqvRiom4kTeooogfQNMWBBfUqJi0bF11p3ggbnq4fk6-AZBLaFVst3U3su7y_5mUntLz5gJpT0jPuW5eAMqDQakET5xxc4CtfgYAOkiSWp6z1U2M2PLel2Z1cv2MoDz4WJJL-iDllD3V4LvQLIKY6lATXJuf2CpNIln-DZ20OKiJGVpt4wQMjOmY-fE9yxsO8ee-h0B_sfMWvfx3477oH15q5T9kYl2pGsl4Z489WDmm0yC4MbkN1A6XmpI7fKwh9GgUWDUsAcADtZ2xcpeIATbbAziNVgAbwfpxTJ8UGvKLQbwd3d9zfxuUXCI6Qm7FNuB6auTxWp4iet6D56u_LMeD_TvkKyAHE_Ppgiye6LZGVrIX5JqXLqnULyCrZ79vHmc34_jCPw0RfN3Ls6yolrYm3zikNAJ7y12qaCVU3vbOKiubjYLnfH-XLWgxwgopu6FxaOm9-PaHUilTRlsZY_BAq40FjvGivW-q7P3TBQ=w559-h316-no?authuser=0); */
    }

    50% {
        background-image: url(../img/back-photos/photo4.jpg);
        /* background-image: url(https://lh3.googleusercontent.com/9aFpza2i5-DAwztj5a4EPnjLv7nMlEltYWRkTRNIaIyTtIr6KqpO_gQyYhLkq3QtoegqSe8XwARRSCPnJCQNSk2LpQh4CYWWw_bagINGlo_rb-owb4RaqeSkGfJ7muxGHshzxLBqNWPzR0ZkSTG-fdeNSlrj7vz-HRDv2dMiS5GFiyPDC5hMCLAZywVOm6ijOWtblYsQaE1kLIjY-5J4vPZrQs-aK4Qq65Cbj8foNnYO7zFeie0iFYa3PEYmctztSijJtZf5Pvjr3t3EbPaM6UHiSQMRv-JGbqJs3EPXbKb1guZbbz54LueP_g4BKfmiaHdSlOrPTOhNZSJKCAEjAm6KVb8vOFtYlleV_A4-SxW9r61tHhP4JRRgEz0xfI-EVHdm4LlHCddlp3QaViNHLD7_txlliAhO1pHIGcc42TodbXv5z_ToPC46xTe4h26w4M71NPlkWPv_LTnGwJobGlYfe5HCzAyfVHQx08UzYPD3Sn-5EhvIylYWtJH3sQlQ9j2Y1QW3JyhPT3gdv5c2Oo04ci1ZK0Aax-bl6w0UVmIcEYcQ3IKfnPnlsiuwRaPcB3ZRSHViykA1m4el2-la2eDzuQTaHCXAYTSTWlQnOl_TguwAuCKUBkdQxH-v17qrdSKureA_kpTM2APtiNlRgPP7Ig5uiuV_p4gWkECgt5sjazH6blJ-fKbBHjoTSCejADX3RkxtU0B2OEDeql56K3c=w1111-h625-no?authuser=0); */
    }

    75% {
        background-image: url(../img/back-photos/photo5.jpg);
        /* background-image: url(https://lh3.googleusercontent.com/JAxFituzZz3IiqA1KMAxaazzqgCl6FALabXpN-L78tOJMMbO1a5j4wVQ9Nkw5mgkAT2X2kRToCDnAvTJPxX8sqQNANhGuxSIv3KWY5ZZTT1VmDSDcbbAKpREbpCBaJgxQG3uVpktRkEijNXB7maOGsu8ZpeHFson60e3UWu9_u8905MRNOu2ZzwPBY5dqNlWY5fPV_21n1s4i0F6yNFOIIQTB7D_JI2hg2Lj9-neJyvT-0d1erA5WoU6usQywdAUY9mtMiYzuhhzYogg5etO1QzaquYYLh_4xXlWb_ZZlV4RSJFmo7OWCc5kq6ABaat0i1J9eHsIcjfSx8vRptO0vHCQqajEqZU1ac5rhKsfqmApVKczDxF4W4cQ3sBtphBacBrooWJQwpDfNzjpCJjVMd_2YVOX0vbbglDZx0LfQUCeyGnnW5wu182tihlsEUHdaW67xf7aAtZAhM52IiQ9CtwI3yjKspFJXefqUESSnhavhMg4TM-dVWaOjSoUrS8dorOVCyGztUZ5KZZ0kaNTn3YTJk9-wvrcujeT7RE7HFLI74U8Cb_uBhq41-0yxii-UY4PQV9a8u-EhdW-UGqR8oqOfEPi1kElBtrBVAk7R2gYPq8-aXkDfip2IjIJxAufJIrH_rpiNo4LH64sF4qrvN-QQUkKYuO9F2nH8ngRIP5CU1mTWZ_pUGiGBLkFTUXAyxyF6_QyV0UbVKJ84vQmTMk=w969-h625-no?authuser=0); */
    }
}

.imgSlider_outer {
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}

/*SECTION*/
.sectionCard__title {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1rem;
}

.containerSection {
    width: 90%;
    margin: auto;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
    margin-bottom: 2rem;
}

.gridContainer__card {
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
}

.gridContainer__card:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}

.gridCard__img {
    width: 100%;
    height: 210px;
}

.gridCard__date {
    background: #eeedf9;
    border-radius: 15px;
    transform: translateY(-6%);
}

.gridCard__date > p {
    padding: 0.2rem 0.6rem;
    margin: 0;
    font-size: 14px;
    line-height: 1.5;
}

.gridCard__date p span {
    font-weight: bold;
}

.gridCard__info {
    background: #fff;
    border-radius: 15px;
    padding: 0.6rem;
}

.cardInfo__location,
.cardInfo__bottom,
.cardPrice__element {
    display: flex;
    align-items: center;
}

.cardPrice__element--around {
    justify-content: space-between;
}

.cardPrice__element > i {
    font-size: 2rem;
}

.cardInfo__location i {
    font-size: 1.6rem;
    margin-right: 10px;
    color: #b2bec3;
}

.cardInfo__title {
    margin: 0;
    font-size: 1.5rem;
    color: var(--dark-color-navbar);
}

.cardInfo__price {
    margin: 1rem 0 0 0.5rem;
    line-height: 1.5;
}

.cardInfo__price > p,
.cardInfo__bottom > p {
    margin: 0;
}

.cardInfo__text {
    font-size: 14px;
    color: var(--light-color-textCard);
}

.cardInfo__text--price {
    color: var(--dark-color-navbar);
    font-size: 1.4rem;
    font-weight: 700;
}

.cardInfo__bottom p:first-child {
    margin-right: 0.9rem;
}

/*FOOTER*/
.travelFooter {
    width: 100%;
    background-color: var(--light-color-footer);
    padding: 0.5rem 0;
}

.travelFooter__container {
    margin: 0 auto;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.travelFooter__brand > p {
    font-size: 1.2rem;
    margin: 0;
}

.container__socialMedia {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container__socialMedia > a {
    margin: 0.5rem;
    font-size: 1.8rem;
    cursor: pointer;
    text-decoration: none;
    transition: all 400ms ease;
}

.fa-facebook-square {
    color: #3b5998;
}

.fa-twitter-square {
    color: #00acee;
}

.fa-instagram-square {
    color: #c1558b;
}

.fa-youtube {
    color: #FF0000;
}

.container__socialMedia > a:hover {
    transform: translateY(-12%);
}




/*TRIPS PAGE*/
/*MAIN*/
.containerCard__title{
    font-size: 3rem;
    font-weight: 300;
    margin: 2rem 0;
}

.cardHeader--title {
    background-color: var(--dark-color-navbar);
}

.cardHeader--title > h2 {
    color: #fff;
}

.cardBody {
    padding: 0.6rem 0;
}
.card-body > p {
    color: var(--light-color-textCard);
}

.cardBody__top {
    display: flex;
}

.cardBody__top > div:first-child {
    margin-right: 2rem;
}

.travelCard__midInfo {
    padding: 1.4rem 0rem;
}

.travelCardMid_info--input {
    width: 40% !important;
}

/*FAQs SECTION*/
.containerAccordion {
    width: 100%;
}

.accordionGroup {
    width: 82.5%;
    margin: 0rem auto 3rem;
}

.accordionGroup__item {
    padding: 0rem 1rem 0rem 1rem;
}

.accordionItem__link {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--dark-color-navbar);
    text-decoration: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid var(--dark-color-navbar);
    padding: 0.5rem 0rem 0rem 0rem;
}

.accordionItem__link:hover {
    color: var(--dark-color-navbar);
}

.accordionItem__link i {
    padding: .5rem;
    font-size: 2rem;
}

.accordionItem__link .fa-angle-up {
    display: none;
}

.accordionItem__anwser {
    max-height: 0;
    overflow: hidden;
    position: relative;
    margin-bottom: 1rem;
    transition: max-height 650ms;
}

.accordionItem__anwser::before {
    content: "";
    position: absolute;
    width: .3rem;
    height: 90%;
    background-color: var(--dark-color-navbar);
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.accordionItem__anwser p {
    font-size: 1rem;
    padding: 0rem 1rem;
    margin-bottom: 0;
}

.accordionGroup__item:target .accordionItem__anwser {
    max-height: 35rem;
}

.accordionGroup__item:target .accordionItem__link .fa-angle-down {
    display: none;
}

.accordionGroup__item:target .accordionItem__link .fa-angle-up {
    display: block;
}

.accordionItem__anwser p a {
    text-decoration: none;
}



/*DEALS PAGE*/
/*SECTION TITLE*/
.sectionDeals__title {
    background: url('https://lh3.googleusercontent.com/4yNUcvt4reJX5261cPbs53Dv3o9BmT-VX18EmetePgg5MLPkr_R8CF01urJjF8OF1fOmeXDesdPrTmYriSxS1pmLtiyFFQlaO9hm8doRb3nrHBpdl1pYgmnUOIJqgEf41y_seTBeDXVg2KHoimwCm7qGezP9ferGhS30cm8F0cVFTeXYowMniGjzvH3JEboyp8z1acaYG0Y1a16NaLb1BknXL8YoHscImuanuJ5QRNR7SUZ35QIKzQjOM46P0NEr5BMN4RfYNn9aNPkxuTvFIYK4YR1CSLOvM161EtrrWuV2WTK9v9j10M1ZTTD-3DlNo4U81ZPUlTdZ0yzF1eSQkEd93srL2rHXuDNIxvsAicNRMJpuRBH6F1YQjkDd9HtJR5D3UlovMdIclHf1g-vCHCZ8ia6ZL8Z8gY1ksDfQQH3EtPj4BdDZnCmHBlZ9YaQjHkMNYaihleem1s4ZtTP9jrR2UL-4eMWXgdmztfpxIfo_ulN-HOLNHmRav_0rAB2jsricXl4EX0vas0VYi2rKVhykeUPw5Hu7iVKx3LWHBasluZBcKDzhzVm7UWzO88AoN3X9S-2muXLu0eX3vZimuQumM8H3P-I41xaSmDBacVCe6cWgQ1FYaVCrFqyq78fbtxg_ML3b4ZHe84UHZ4-K8vTM5OdnXTigUVA1u6nkpmnt7t4aayU1LC8yxqbRVYV6ZtRhM9AEhxqJ17YYPaSNU5U=w1166-h625-no?authuser=0') no-repeat center center;
    background-size: cover;
    border-radius: 0px 0px 15px 15px;
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
}

.sectionDeals__title > h1 {
    color: #fff;
    margin-left: 1.5rem;
}

/*MAIN*/
.popularPlaces {
    margin: 2rem;
}
.popularPlaces__subtitle {
    font-size: 2rem;
    padding-bottom: 1.5rem;
    color: var(--dark-color-navbar);
}

.gridCard__info--bodyCard {
    transform: translateY(-12%);
}

.gridCard__info > h4 {
    color: var(--dark-color-navbar);
}

.gridCard__info > i {
    font-size: 2.5rem;
    color: var(--dark-color-navbar);
    display: flex;
    justify-content: flex-end;
}

.popularPlaces__button {
    padding: 1rem 2rem;
    margin: 3rem 0 2rem 0;
}

/*SECTION INFORMATION*/
.sectionPreparations {
    margin-bottom: 3rem;
}

.sectionInfo {
    padding: 3.5rem 1.5rem;
    background-color: var(--dark-color-navbar);
}

.sectionInfo__subtitle {
    font-weight: 400;
}

.sectionInfo__info {
    margin-top: 0.8rem;
}

.sectionInfo__image {
    height: 130px;
}

.gridCard__info--body {
    transition: all 400ms ease;
}

.gridCard__info--body:hover {
    transform: translateY(-6%);
}

.gridCard__title--info {
    color: var(--dark-color-navbar);
}

.gridCard__title--text {
    color: var(--light-color-textCard);
}

.gridCard__info > a {
    text-decoration: none;
}

.gridContainer--section{
    gap: 1em !important;
}




/*SIGN IN PAGE*/
/*MAIN*/
.text-center > h3 {
    margin: 1rem 0;
    color: var(--dark-color-navbar);
}

.travelCardMid__info--input {
    width: 92% !important;
}

.travelCard__info--check {
    margin: 1rem 2rem 1rem 0.7rem;
}

.travelCard__info--check > input {
    margin-right: 0.6rem;
}

.travelCard__button {
    display: flex;
    justify-content: center;
}

.createAccount {
    text-align: end;
    padding: 2rem 0 0 0;
    margin-right: 1rem;
}

.createAccount > p {
    margin: 0;
}

.createAccount > a {
    text-decoration: none;
}

/*FOOTER*/
.travelFooter--signin {
    display: none;
}




/*SIGN UP PAGE*/
/*MAIN*/
.accountInfo {
    margin: 2rem 0 3rem 0;
}

.accountInfo__title,
.accountInfo__subtitle {
    color: var(--dark-color-navbar);
    font-weight: 400;
    margin-bottom: 1rem;
}

.accountInfo__login {
    margin-bottom: 2.5rem;
}

.accountInfo__extraInfo {
    font-weight: 500;
}

.accountInfo__login > a {
    text-decoration: none;
}

.accountInfo__inputLabel {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0;
}

.accountInfo__inputLabel > label {
    font-size: 1.25rem;
}

.accountInfo__inputLabel > input,
.accountInfo__inputLabel > select {
    width: 30%;
    padding: 0.5rem 0.3rem;
    border: 1px solid gray;
    border-radius: 5px;
}

.accountInfo__inputLabel > input:focus,
.accountInfo__inputLabel > select:focus {
    border: 2px solid var(--dark-color-navbar);
}

.accountInfo__checkbox {
    margin: 1.3rem 0;
    width: 30%;
}




/*MEDIA QUERY MAIN PAGE*/
@media (max-width: 1200px) {
    /*NAVBAR*/
    .headerSearch__input {
        width: 350px;
    }
}

@media (max-width: 1085px) {
    /*NAVBAR*/
    .headerSearch__input {
        width: 100%;
    }

    /*SECTION*/
    .gridContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 991px) {
    /*MAIN*/
    .travelCard_top {
        grid-template-columns: repeat(2, 1fr);
        margin: 0rem 0.8rem;
    }

    .travelCard_mid--location {
        padding: 0.3rem 1rem;
    }

    .travelCard__mid--date,
    .travelCard__mid--passanger {
        flex-direction: column;
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    .travelCard__mid--date .icon,
    .travelCard__mid--passanger .icon {
        display: none;
    }

    .travelCard__mid--date .travelCardMid_info:first-child,
    .travelCard__mid--passanger .travelCardMid_info:first-child {
        margin-bottom: 1.5rem;
    }

    /*SIGN UP*/
    .accountInfo__inputLabel > input,
    .accountInfo__inputLabel > select {
        width: 60%;
    }

    .accountInfo__checkbox {
        width: 60%;
    }
}

@media (max-width: 910px) {
    /*NAVBAR*/
    .linksMenu__burgerMenu {
        display: block;
        padding: 0.2rem 0.6rem;
    }

    .linksMenu__burgerMenu:hover {
        border-radius: 25px;
        border: 1px solid white;
        background-color: rgba(255, 255, 255, 0.2);
    }

    .navBar__linksMenu ul {
        position: absolute;
        width: 100%;
        /* height: 100vh; */
        background-color: #57606f;
        top: 121.23px;
        left: -100%;
        /* flex-direction: column; */
        justify-content: center;
        align-items: center;
        padding: 1rem 0;
        z-index: 3;
        transition: all 0.5s;
    }

    #burgerMenu__checkBtn:checked ~ ul {
        left: 0;
    }

    .navBar__linksMenu li a:hover {
        border-radius: 0px;
        border: none;
        background-color: transparent;
        color: var(--dark-color-navbar);
    }

    .headerSearch__input {
        width: 400px;
    }
}

@media (max-width: 767px) {
    /*MAIN*/
    .travelCard_top {
        margin: 1.2rem 0.8rem;
    }

    .travelCard__mid--date,
    .travelCard__mid--passanger {
        flex-direction: row;
        margin-bottom: 0rem;
        margin-top: 0rem;
    }

    .travelCard__mid--date {
        padding: 1.4rem 1rem;
    }

    .travelCard__mid--passanger {
        padding: 0.8rem 1rem;
    }

    .travelCard__mid--date .icon,
    .travelCard__mid--passanger .icon {
        display: block;
    }

    .travelCard__mid--date .travelCardMid_info:first-child,
    .travelCard__mid--passanger .travelCardMid_info:first-child {
        margin-bottom: 0rem;
    }

    /*MY TRIPS PAGE*/
    /*MAIN*/
    .travelCardMid_info--input {
        width: 60% !important;
    }

    /*SIGN UP*/
    .accountInfo__grid {
        display: none;
    }

    .accountInfo__login {
        margin-bottom: 1.5rem;
    }

    /*SIGN UP*/
    .accountInfo__inputLabel > input,
    .accountInfo__inputLabel > select {
        width: 70%;
    }

    .accountInfo__checkbox {
        width: 70%;
    }
}

@media (max-width: 740px) {
    /*NAVBAR*/
    .headerSearch__input {
        width: 100%;
    }

    /*FOOTER*/
    .footerContainer__first {
        display: none;
    }

    .travelFooter__container {
        flex-direction: column;
    }

    /*DEALS*/
    .sectionDeals__title {
        height: 150px;
    }
}

@media (max-width: 540px) {
    /*NAVBAR*/
    .headHeader__middle {
        display: none;
    }

    .navBar__linksMenu ul {
        flex-direction: column;
    }

    .navBar__linksMenu li {
        padding: 1rem 0;
    }

    .navBar__linksMenu li a {
        font-size: 1.3rem;
    }

    /*SECTION*/
    .gridContainer {
        grid-template-columns: 1fr;
    }

    .accountInfo__inputLabel > input,
    .accountInfo__inputLabel > select {
        width: 90%;
    }

    .accountInfo__checkbox {
        width: 90%;
    }

    .accountInfo__button{
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 480px) {
    /*NAVBAR*/
    .headerNavBar__logo {
        width: 110px;
    }

    .linksMenu__burgerMenu {
        font-size: 2rem;
        padding: 0.2rem 1rem;
    }

    .navBar__linksMenu ul {
        top: 93.34px;
    }

    /*MAIN*/
    .travelMain__title {
        display: none;
    }

    .travelCard_top {
        grid-template-columns: repeat(2, 1fr);
        margin: 0rem 0.8rem;
    }

    .travelCard_mid--location {
        padding: 0.3rem 1rem;
        flex-direction: column;
        margin-top: 1rem;
    }

    .travelCardMid_info--toInput {
        margin-top: 1.2rem;
    }

    .icon {
        display: none;
    }

    .travelCard__mid--date,
    .travelCard__mid--passanger {
        flex-direction: column;
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    .travelCard__mid--date .icon,
    .travelCard__mid--passanger .icon {
        display: none;
    }

    .travelCard__mid--date .travelCardMid_info:first-child,
    .travelCard__mid--passanger .travelCardMid_info:first-child {
        margin-bottom: 1.5rem;
    }

    /*MY TRIPS PAGE*/
    /*MAIN*/
    .travelCardMid_info--input {
        width: 100% !important;
    }

    /*DEALS*/
    .sectionDeals__title {
        height: 120px;
    }

    .popularPlaces__button {
        padding: 1rem 1rem;
        margin: 1rem 0 1rem 0;
        font-size: 14px;
    }
}

@media (max-width: 330px) {
    .cardBody__top {
        flex-direction: column;
    }

    .travelCardMid_info--input label {
        font-size: 20px;
    }

    .gridCard__img {
        height: 150px;
    }

    /*SIGN IN*/
    .travelCardMid__info--input > label {
        font-size: 20px;
    }
}